<%# locals: (exercise_choices:, exercise_group:, exercise_groups:, training_session:) %>

<%# locals: (date:, exercise_groups:, group_index:) %>

<main class="prose mx-auto">
  <h1 class="join flex justify-center text-3xl items-center mt-4 mb-8">
    <%= link_to "chevron_left", training_session_path(training_session.previous),
      class: "join-item btn-ghost material-symbols-outlined no-underline" %>
    <span class="join-item btn-ghost font-bold min-w-64 text-center">
      <%= training_session.to_param %>
    </span>
    <%= link_to "chevron_right", training_session_path(training_session.next),
      class: "join-item btn-ghost material-symbols-outlined no-underline" %>
  </h1>

  <% if training_session.past? %>
    <table class="table">
      <thead>
        <th><%= t :priority %></th>
        <th><%= t :description %></th>
        <th class="text-right"><%= t :reps %></th>
      </thead>
      <tbody>
        <% exercise_choices.each do |choice| %>
          <tr>
            <td><%= exercise_priority(choice.exercise_option.priority) %></td>
            <td><%= choice.exercise_option.description %></td>
            <td class="text-right"><%= choice.reps %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="flex">
      <div class="flex-1/3">
        <ul class="list">
          <% exercise_groups.each do |group| %>
            <% style =
              if group == exercise_group
                "border-l-accent border-2 border-t-0 border-r-0 border-b-0 rounded-none"
              end %>

            <li class="list-row pl-4 <%= style %>">
              <%= link_to group.name, exercise_group_training_session_path(training_session, group),
                class: "no-underline" %>
            </li>
          <% end %>
          <li class="list-row pl-4 text-xl bg-gray-800 justify-center">
            <%= form_with model: ExerciseGroup.new do |f| %>
              <p>
                <label>
                  <%= t :name %>
                  <%= f.text_field :name, class: "input" %>
                </label>
              </p>
              <p>
                <%= f.submit "Save", class: "btn" %>
              </p>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="flex-2/3">
        <ul class="list mt-0">
          <% exercise_group.find_or_initialize_choices_for(training_session).each do |choice| %>
            <li class="list-row flex">
              <div class="text-5xl flex-0"><%= exercise_priority(choice.priority) %></div>
              <div class="flex-1">
                <p class="mt-0 mb-0"><%= choice.description %></p>
                <p class="mt-0 mb-0 text-neutral-500">
                  <%= choice.exercise_option.reps %> <%= t :reps %>
                </p>
              </div>
              <%= form_with model: [training_session, choice], class: "flex-0 min-w-20" do |f| %>
                <%= f.hidden_field :exercise_option_id %>
                <%= f.number_field :reps, placeholder: "0", 
                  class: "input text-3xl h-full text-right" %>
              <% end %>
            </li>
          <% end %>

          <% if exercise_group.exercise_options.count < 7 %>
            <li class="list-row pl-4 text-xl bg-gray-800 justify-center">
              <%= form_with model: ExerciseOption.new, url: exercise_group_exercise_options_path(exercise_group) do |f| %>
                <p>
                  <label>
                    <%= t :description %>
                    <%= f.text_field :description, class: "input" %>
                  </label>
                </p>
                <p>
                  <label>
                    <%= t :reps %>
                    <%= f.text_field :reps, class: "input" %>
                  </label>
                </p>
                <p>
                  <%= f.submit "Save", class: "btn" %>
                </p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</main>
