<%# locals: (exercise_choices:, exercises:, training_session:) %>

<% content_for :navbar do %>
  <span class="flex items-center gap-2">
    <span class="flex items-center">
      <%= nav_link_to "chevron_left", training_session_path(training_session.previous) %>
      <%= nav_link_to "chevron_right", training_session_path(training_session.next),
        disabled: training_session.future? %>
    </span>

    <span class="btn-ghost font-bold min-w-64">
      <%= training_session.to_param %>
    </span>
  </span>
<% end %>

<main class="prose mx-auto">
  <table class="table">
    <thead>
      <th><%= t :priority %></th>
      <th><%= t :description %></th>
      <th class="text-right"><%= t :reps %></th>
    </thead>
    <tbody>
      <% exercise_choices.each do |choice| %>
        <tr>
          <td><%= exercise_priority(choice.exercise_option.priority) %></td>
          <td><%= choice.exercise_option.description %></td>
          <td class="text-right"><%= choice.reps %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>
