<%# locals: (exercise_choices:, exercises:, training_session:) %>

<% content_for :navbar do %>
  <span class="flex items-center gap-2">
    <span class="flex items-center">
      <%= nav_link_to "chevron_left", training_session_path(training_session.previous) %>
      <%= nav_link_to "chevron_right", training_session_path(training_session.next),
        disabled: training_session.future? %>
    </span>

    <span class="btn-ghost font-bold min-w-64">
      <%= training_session.to_param %>
    </span>
  </span>
<% end %>

<main class="prose mx-auto">
  <% if training_session.today? %>
    <ul class="list">
      <% exercises.each do |ex| %>
        <li class="list-row pl-4">
          <%= link_to ex.name, training_session_exercise_path(training_session, ex),
                  class: "no-underline" %>
        </li>
      <% end %>
    </ul>
  <% elsif training_session.past? %>
    <ul class="list">
      <% exercise_choices.each do |choice| %>
        <li>
          <span><%= exercise_priority(choice.exercise_option.priority) %></span>
          <span><%= choice.exercise_option.description %></span>
          <span class="text-right"><%= choice.reps %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</main>
